body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.App {
  background-color: papayawhip;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

Nav {
  background-color: lightcoral;
  font-size: 30px;
  padding: 3rem;
}

button {
  font-size: 24px;
  padding: 3rem 6rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.nav-btn {
  color: brown;
}

.find-sitter-btn {
  margin: 1rem;
  margin-right: 3rem;
  font-size: 3rem;
  background-color: lightblue;
}

.become-sitter-btn {
  margin: 1rem;
  margin-left: 3rem;
  font-size: 3rem;
  border-width: 2px;
  border-color: black;
  background-color: lightcyan;
}

.button-container {
  margin-top: 20px;
}

